<div id="home-container">
	<header class="h1">Reimbursements</header>
	<table id="reimbursementTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class="th-sm">Id</th>
				<th class="th-sm">Amount</th>
				<th class="th-sm">Submitted</th>
				<th class="th-sm">Resolved</th>
				<th class="th-sm">Description</th>
				<th class="th-sm">receipt</th>
				<th class="th-sm">Author</th>
				<th class="th-sm">Resolver</th>
				<th class="th-sm">Status</th>
				<th class="th-sm">Type</th>
				<th class="th-sm">Edit / Deactivate</th>
			</tr>
		</thead>
		<tbody id="reimbursementTableBody">

		</tbody>
		<tfoot>
			<tr>
				<th>Id</th>
				<th>Amount</th>
				<th>Submitted</th>
				<th>Resolved</th>
				<th>Description</th>
				<th>receipt</th>
				<th>Author</th>
				<th>Resolver</th>
				<th>Status</th>
				<th>Type</th>
				<th>Edit / Deactivate</th>
			</tr>
		</tfoot>
	</table>
</div>