/* Used for Glyph Icons: Wrench Symbol (Edit) Circle with Check Mark (Activate) Circle with an X mark (Deactivate) */
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
	src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html, body{
    height: 100%;
}

.container {
    background-color: #f5f5f5;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    align-items: center;
}

.form-control:hover{
	background-color: yellow;
}

#nav-dropdown {
	color: white;
}

/* The base Header information, for old-school headers like <h1>, <h2>, etc. */
.h1{
    font-size: 2em;
    font-weight: bolder;
}
.h2{
	font-size: 1.5em;
    font-weight: bolder;
}
.h3{
    font-size: 1.17em;
    font-weight: bolder;
}
.h4{
	font-size: 1em;
    font-weight: bolder;
}
.h5{
    font-size: .83em;
    font-weight: bolder;
}
.h6{
	font-size: .67em;
    font-weight: bolder;
}

/* DataTables. */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
	bottom: .5em;
}

/* Make a Bigger Distinction between Pending, Approved, Denied, Active, and Deactivated 
	Important because Bootstrap was overriding it in DataTables */
.denied, .deactivated{
	background-color: #ffb9b9 !important;
}
.approved {
	background-color: #c5fdc9 !important;
}
