<nav class="navbar navbar-expand-lg bg-dark">
	<a class="navbar-brand" href="#">Revabursements</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false"
			aria-label="Toggle navigation">
		<span id="nav-dropdown" class="navbar-toggler-icon">Show</span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" id="ReimbursementDropdown">
				<div class="dropdown">
					<a class="btn btn-secondary dropdown-toggle" 
							type="button" 
							href="#"
							id="dropdownMenuButtonReimbursement" 
							data-toggle="dropdown" 
							aria-haspopup="true" 
							aria-expanded="false">Reimbursements</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#" id="toCreateReimbursement">Create</a>
						<a class="dropdown-item" href="#" id="toUpdateReimbursement">Update</a>
						<a class="dropdown-item" href="#" id="toViewReimbursement">View</a>
						<a class="dropdown-item" href="#" id="toDeleteReimbursement">Delete</a>
					</div>
				</div>
			</a>
			<a class="nav-item nav-link" id="toHome">Home</a>
			<a class="nav-item nav-link" id="toProfile">Profile</a>
			<a class="nav-item nav-link" id="toLogout">Logout</a>
		</div>
	</div>
</nav>